.footer {
    width: 100%;
    height: 76px;
    background: #FAFAFA;
    margin-top: 136px;
    position: absolute;
    bottom: 0;
}

.footer-content {
    max-width: 1200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}