.form {
    width: 100%;
    margin-top: 30px;
    
}
.persone-data {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #111111;
}

.form-content {
    max-width: 616px;
    margin: 0 auto;
}

.cheldren-add {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
    align-items: center;
}

.cheldren-add p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.cheldren-add a {
    width: 204px;
    height: 44px;
    border-radius: 100px;
    border: 2px solid #01A7FD;
    background-color: white;
    color: #01A7FD;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cheldren-add a:hover {
    background-color: #01A7FD;
    color: white;
}

.fio-inputs {
    display: flex;
    flex-direction: column;
}
.fio-inputs input {
    width: 100%;
    height: 56px;
    font-size: 16px;
    margin-top: 10px;
    border: 1px solid #E5E5E5;
    padding-left: 10px;
}

.children-inputs {
    display: flex;
    align-items: center;
    height: 56px;
    margin-top: 11px;
}
.children-inputs input {
    width: 260px;
    height: 56px;
    font-size: 16px;
    margin-top: 10px;
    border: 1px solid #E5E5E5;
    padding-left: 10px;
    margin-right: 18px;
}
.children-inputs p {
    color: #01A7FD;
    cursor: pointer;
}
.save {
    width: 118px;
    height: 44px;
    border-radius: 100px;
    color: white;
    background-color: #01A7FD;
    margin-top: 30px;
    border: none;
    cursor: pointer;
}
.children-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}